* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffebee;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 650px;
    min-height: 750px;
}

.main-container {
    width: 450px;
    height: 750px;
    border: solid 3px #ff6b81;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 8px 20px rgba(255, 107, 129, 0.3);
}

h1 {
    font-family: "Indie Flower", serif;
    font-weight: bold;
    font-style: normal;
    font-size: 44px;
    color: #ff6b81;
    text-align: center;
    margin: 0px 70px;
}

.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    margin: 0px;
}

.image {
    width: 400px;
}

.image2 {
    width: 400px;
    margin-left: 70px;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.button {
    border: none;
    background-color: #ff6b81;
    color: white;
    width: 90px;
    height: 60px;
    border-radius: 15px;

    font-family: "Indie Flower", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;

    transition: 0.5s;
}

.button:hover {
    background-color: rgb(189, 50, 70);
    cursor: pointer;
    transform: scale(1.15);
    transition: 0.5s;
}

.home-button-container {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.home-button2-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
}

.home-button {
    font-size: 25px;
    color:#ff6b81;
    text-decoration: none;
}

.home-button2 {
    color:#ff6b81;
    text-decoration: none;
    border: none;
    background-color: #ff6b81;
    color: white;
    border-radius: 15px;
    width: 180px;
    height: 60px;

    font-family: "Indie Flower", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
}

.home-button:hover {
    cursor: pointer;
}

.reconsider-text {
    font-family: "Indie Flower", serif;
    font-weight: bold;
    font-style: normal;
    font-size: 25px;
    color:#ff6b81;
    margin-bottom: 10px;
}

.home-button3 {
    font-size: 25px;
    color:#ff6b81;
    text-decoration: none;
    margin-top: 20px;
}